.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container{
  background-color: antiquewhite;
  height: 300px;
  border-radius: 10px;
  width: 400px;

}
h3{
  text-align: center;
}